<div *ngIf="!viewtickets">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/customer">BankingMadeEasy</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer" (click)="home()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer" (click)="customerviewtickets()">View Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newticket">Create New Tickets</a>
        </li>
      </ul>

      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>

  <div *ngIf="viewtickets">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand" routerLink="/customer">BankingMadeEasy</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer" (click)="home()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/newticket">Create New Tickets</a>
          </li>
        </ul>

        <div class="dropdown" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <table style="width: 1000px; height: 500px; padding: 20px;
               margin-top: 70px" class="table table-bordered table-striped container">
        <thead>
          <tr>
            <th>Ticketid</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>ContactNumber</th>
            <th>Comments</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let custticketsviews of custticketsview">
            <td><span>{{custticketsviews.id}}</span></td>
            <td><span>{{custticketsviews.category}}</span></td>
            <td><span>{{custticketsviews.subCategory}}</span></td>
            <td><span>{{custticketsviews.contactNumber}}</span></td>
            <td><span>{{custticketsviews.comments}}</span></td>
            <td><span>{{custticketsviews.status}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

